{% extends 'frontend/index_base.html' %}
{% load frontend_extra %}<!--加载自定义的tag filter-->

{% block urlopentype %}_blank{% endblock %}
{% block keywords %}Linux运维,运维开发,数据库,Mysql,DBA,云计算{% endblock %}
{% block description %}Linux运维,运维开发,数据库,Mysql,DBA,云计算{% endblock %}
{% block title %}iBash,爱运维--Linux运维,Mysql,开发,云计算,数据库,IT{% endblock %}

{% block article-category %}
    {% for category in categories %}
        {% if category.type == 'N' %}
            <li class=""><a href="{% url 'frontend:index_cate' category.url %}" target="_self">{{ category.name }} </a></li>
        {% endif %}
    {% endfor %}
{% endblock %}<!--博客分类-->

{% block project-category %}
    {% for category in categories %}
        {% if category.type == 'P' %}
            <li><a href="{% url 'frontend:index_cate' category.url %}" target="_self">{{ category.name }} </a></li>
        {% endif %}
    {% endfor %}
{% endblock %}<!--专题分类-->

{% block main-box %}
    <div class="list-group article-list"><!--列表组,文章列表-->
    {% for article in article_page %}
        <div class="list-group-item article-box" style="border: 0;"><!--列表项,列表项默认有边框,这里style清除掉了边框,文章信息-->
            <div class="row article-info">
                <div class="col-md-3 head-image">
                    <a href="{% url 'frontend:article_detail' article.id %}" class="thumbnail"><img src="/image/{{ article.head_img }}" alt="iBash站点"></a>
                </div>
                <div class="col-md-9 article-summary">
                    <a href="{% url 'frontend:article_detail' article.id %}" target="_blank"><h4>{{ article.title|striptags|truncatechars:38 }}</h4></a>
                    <p class="text-muted"><!--text-muted类可以让字体颜色变灰-->
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <small>最后修改时间 : {{ article.modify_date }}</small>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        <small>归类 : {% for cate in article.categories.all %}{{ cate.name }}&nbsp;&nbsp;{% endfor %}</small>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <small>评论 : {{ article.comments_set.count }}</small>
                        <small class="pull-right">点击量 :&nbsp;&nbsp;<span class="badge">{{ article.articleviews.views }}</span></small><!--badge是徽章工具-->
                    </p>
                    <p class="text-muted">{{ article.articledetail.content|striptags|truncatechars:100 }}</p>
                    <p class="text-muted article-tags"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;标签:&nbsp;&nbsp;
                        {% for tag in article.tags|custom_make_list %}
                            <span class="badge">{{ tag }}</span>
                        {% endfor %}
                    </p><!--利用徽章做页面关键字-->
                </div>
            </div>
            <div style="border: 1px dashed #ADADAD;"></div>
        </div>
    {% endfor %}
    </div><!--文章列表-->

    <div id="cutpage" class="text-center"><!--分页功能,text-center是让文字居中-->
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div><!--分页-->
{% endblock %}

{% block newpub %}
    {% for new_article in new_articles %}
        <p><a href="{% url 'frontend:article_detail' new_article.id %}"><abbr title="{{ new_article.title }}">{{ new_article.title|striptags|truncatechars:12 }}</abbr></a><span class="pull-right"><span>发布时间 : </span>{{ new_article.published_date|date:"m-d H:i" }}</span></p>
    {% endfor %}
{% endblock %}<!--最新发表-->

{% block hotarticle %}
    {% for hot_article in hot_articles %}
        <p><a href="{% url 'frontend:article_detail' hot_article.id %}"><abbr title="{{ hot_article.article.title }}">{{ hot_article.article.title|striptags|truncatechars:12 }}</abbr></a><span class="pull-right"><span>阅读量 : </span>{{ hot_article.views }}</span></p>
    {% endfor %}
{% endblock %}<!--最热文章-->

{% block latest_comm %}
    {% for comment in latest_comments %}
        <li class="list-group-item"><a href="{% url 'frontend:article_detail' comment.article.id %}" class="text-muted">{{ comment.nickname|striptags|truncatechars:8 }}({{ comment.published_date|date:"m-d H:i" }}): {{ comment.comment|striptags|truncatechars:10 }}</a></li>
    {% endfor %}
{% endblock %}<!--最新评论-->

{% block link %}
    {% for link in links %}
        <li class="list-group-item"><a href="{{ link.url }}" target="_blank" class="text-muted">{{ link.name }}</a></li>
    {% endfor %}
{% endblock %}<!--友情链接-->

{% block jscode %}
    <script>
        $(function () {
            $('.blog-nav li a').each(function () { //each循环遍历语法,循环所有的a标签
                if ($(this).attr('href') == '{{ request.path }}') { //如果当前请求的路径等于href的内容
                    $(this).parent().addClass('active'); //给父级的标签加上active属性
                };
            });
        });
    </script>
{% endblock %}
